<p id="notice"><%= notice %></p>

<p>
  <strong>Date registre:</strong>
  <%= @calory.date_registre %>
</p>

<p>
  <strong>Calory type:</strong>
  <%= @calory.Calory_type %>
</p>

<p>
  <strong>Value:</strong>
  <%= @calory.Value %>
</p>

<%= link_to 'Edit', edit_calory_path(@calory) %> |
<%= link_to 'Back', calories_path %>
